* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    margin: 10px;
}

footer {
    margin: 10px;
}

header {
    background-image: url("../img/pattern.png");
    background-color: #4E9EFC;
    background-repeat: repeat-x;
    background-position: top;
    background-size: 35%;
    height: 85px;
}

.logo {
    width: 150px;
    margin-left: 10px;
    margin-top: 40px;
}

p a {
    text-decoration: none;
    color: #4E9EFC;
}

.grey-text {
    color: gray;
}

.x-small-text {
    font-size: x-small;
}

figure {
    margin: 20px 0;
}

.main-text {
    margin: 25px 0;
}

ul {
    margin-left: 1em;
    margin-bottom: 25px;
}

/* table style */

table {
    text-align: left;
    border-collapse: collapse;
}

thead {
    background-color: #20A9E5;
    color: #fff;
}

.big-column {
    width: 50%;
}

.bg-row {
    background-color: #B0E5F2;
}

/* suggested articles */

.suggested-article {
    color: #fff;
    background-size: cover;
    background-position: center;
    width: 200px;
    height: 150px;
    font-weight: 600;
    padding: 10px;
    margin-top: 10px;
}

.article-1 {
    background-image: url("../img/monitor.jpg");
}

.article-2 {
    background-image: url("../img/graph.jpg");
}