* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    margin: 10px;
}

header {
    background-image: url("../img/pattern.png");
    background-color: #4E9EFC;
    background-repeat: repeat-x;
    background-position: top;
    background-size: 35%;
    height: 85px;
}

.logo {
    width: 150px;
    margin-left: 10px;
    margin-top: 40px;
}

p a {
    text-decoration: none;
    color: #4E9EFC;
}

.grey-text {
    color: gray;
}

.x-small-text {
    font-size: x-small;
}

figure {
    margin: 20px 0;
}